
body{
  padding: 0;
  margin: 0%;
}
.container1{
  border-top: 3px solid;
  border-bottom: 1px solid grey;
  width: 90%;
  color: black;
}
.container1 li a{
  margin-right: 15px;
  color: #000;
 font-size: 1.1em;
 
}
.nav-item svg{
  margin-right: 20px;
}
.Logo{
  margin-top: 10px;
  display: flex;
  justify-content: center;
align-items: center;
}
.Logo1{
  width: 30%;
  text-align: center;
}
.Logo img{
width: 80%;
}
.navbar{
  margin-top: -10px;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  
}
.footer a{
  text-decoration: none;
  color: #000;
  text-align: center;
  text-shadow: 1px 2px 2px #a5a5a5;
  font-weight: 500;
  
}
.input-group{
  margin: auto;
  width: 30%;
  display: flex;
  justify-content: center;
}
.stickyNav{
  display: flex;
  border: 1px solid;
  background-color: #000;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 1;
}
.stickyNav svg{
  color: white;
 
}
.stickyNav hr{
 color: #000;
}
.con_inside{
  display: flex;
}
.stickyNav_Text{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}
.offcanvas li{
  list-style: none;
}

.offcanvas-header img{
  height: 50px;
}
.social_media_icon{
  height: 50px;
  padding-left: 30px;
}
.social_media_icon svg{
  margin-right: 20px;
  padding-bottom: 10px;
}
.con_data{
  display: flex;
  width: 100%;
  gap: 5px;
  margin-bottom: 10px;
}
.main_1{
  width: 70%;
  display: flex;
}
.main_2{
  width: 30%;
}
.topstory{
  width: 60%;
  
  
}
.topstorysubcontent{
  width: 40%;
  margin-right: -500px;
}
.below{
  border-top:1px solid;
  height: 300px;
}
.science{
  padding:20px 10px;
  width: 95%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.single{
  width:250px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px 10px;
  height: 400px;
  margin-left: 10px;
}

.science1{
  display: flex;
  gap: 10px;
  overflow-x: scroll; 
}

h5,p{
  color: black;
  
}
p{
  font-size: small; 
  margin-top: 10px;
}
h5{
  font-size: medium;
}


.card{
  color: #000;
  text-decoration: none;
  
}
.subContentdiv{
  display: flex;
}
.singlepagediv{
  display: flex;
}
.colorForFooter{
  margin-top: 10px;
  padding-top: 20px;
  height: 200px;
  background-color: #a5a5a5;
}
.container a{
  text-decoration: none;
}
.offcanvas-body ul{
cursor: pointer;
}

/* 
Medium Screen */

@media (min-width: 840px) and (max-width: 1200px) {
  /* *{
    background-color: red;
  } */

.main_2{
  display: none;
}
.topstorysubcontent{
  margin-left: 40% ;
  margin-right: 100px;
}
.footer{
  width: 90%;
margin: auto;
gap: 5px;
}
.main_1{
  margin-left: -10%;
}
/* .below{
  display: none;
} */
/* .single{
  width: 200px;
  margin: auto;
  
}
.science{
  margin-left: 10%;} */

}





/* Small Screen */


@media (min-width: 300px) and (max-width: 840px) {
 /* *{
  background-color: yellowgreen;
 } */
 .topstorysubcontent,.main_2{
  display: none;
}
.main_1{
  width: 90%;
  margin: auto;
  margin-left: 10%;
}
.below{
  display: none;
}
}